**{
  transition:all 0.4s ease;
  background:  #f1f0f7; 
  color: #4b7087;
  padding:0;
  margin:0;
}
::selection {
  color: #f1f0f7;
  background: #4b7087;
}
body{
  background:#f1f0f7;
  font-size:14px;
  overflow-y:hidden; 
}
header{margin-left:20px;margin-top:0px;color:#fff;width:79%;height:800px;background:#4b7087;padding:10px 30px; 10px 0px;}
.contenedor{margin-top:45px;}
h1{margin-bottom:0px;}

.reset{margin-left:0px; margin-bottom:10px;background: #4b7087;color: #f1f0f7;outline:none;}

select{color:#4b7087;display:flex;flex-position:column;margin-bottom:30px;margin-top:10px;cursor:pointer;outline:none;}
button{color:#f1f0f7;background:#4b7087;margin-left:0px;outline:none;}
.pronombres{margin-left:90px;margin-top:-316px;position:relative;list-style:none;line-height:50px;}
